apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: counselgpt-models-pvc-mthiruma
  namespace: cse239fall2025
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
