apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: dcgm-exporter-monitor
  namespace: cse239fall2025
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: dcgm-exporter
  namespaceSelector:
    matchNames:
      - cse239fall2025
  endpoints:
  - port: http
    interval: 10s
