apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: embedding-models-pvc-mthiruma
  namespace: cse239fall2025
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: rook-ceph-block
  resources:
    requests:
      storage: 5Gi
