apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: counselgpt-api-hpa
  namespace: cse239fall2025
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: counselgpt-api-mthiruma

  minReplicas: 1
  maxReplicas: 3

  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
