apiVersion: v1
kind: Service
metadata:
  name: counselgpt-redis-mthiruma
  namespace: cse239fall2025
spec:
  type: ClusterIP
  selector:
    app: counselgpt-redis-mthiruma
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
