apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: counselgpt-redis-pvc
  namespace: cse239fall2025
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: rook-ceph-block
