apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-cache-config-mthiruma
  namespace: cse239fall2025
  labels:
    app: redis-mthiruma
data:
  redis.conf: |
    bind 0.0.0.0
    protected-mode no
    port 6379
    maxmemory 2gb
    maxmemory-policy allkeys-lru
    save 900 1
    save 300 10
    save 60 10000
    dbfilename dump.rdb
    dir /data
    appendonly no
    tcp-backlog 511
    timeout 0
    tcp-keepalive 300
    loglevel notice
    lazyfree-lazy-eviction yes
    lazyfree-lazy-expire yes
    lazyfree-lazy-server-del yes
    io-threads 4
    io-threads-do-reads yes
