apiVersion: v1
kind: Service
metadata:
  name: counselgpt-api
  labels:
    app: counselgpt-api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: NodePort            
  selector:
    app: counselgpt-api
  ports:
  - name: http
    port: 8000
    targetPort: 8000
